$main-color-dark:  #000814;
$main-color-light:  #eeeeee;
$secondary-color-dark: #001D3D;
$secondary-color-light: #CC9F70;
$terciary-color: #FFC300;

body{
    background-color: $main-color-dark;
    font-family: "Roboto", sans-serif;
    color: $main-color-light;

}

.p-titulo{
    padding: 2em 0em;
    margin: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;

    h1{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2em;
        margin: 0;
    }

    h3 > strong {
        color: $terciary-color;
    }
}

.navbar{
    display:flex;
    justify-content: end;
    width: 90vw;
}

.nav-element{
    padding:1em;
    margin: 1em;
    border-bottom: 0.2em solid $main-color-dark;
}

.nav-element:hover{
    transition: linear 0.1s;
    border-bottom: 0.2em solid $terciary-color;
}