:root {
    --background-color-light: #d9d9d9;
    --background-color-dark: #001d3d;
    --background-secondary: #003566;
    --text-color-light: #000814;
    --text-color-dark: #ffffff;
    --primary-color: #FFC300;
    --highlights: #ffd60a;
}

body.light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    margin: 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-color-dark);
    font-size: 1.5em;
}

header > h1 {
    margin-bottom: 0em;
    text-transform: uppercase;
}

header > h3 > strong{
    color: var(--primary-color);
}

.btn{
    background: none;
    border: 2px solid var(--text-color-light);
    border-radius: 0.5em;
    color: var(--text-color-light);
    cursor: pointer;
    margin: 1em;
    padding: 0.5em 1em;
}

.dark .btn{
    border-color: var(--text-color-dark);
    color: var(--text-color-dark);
}

.dark header {
    color: var(--background-color-light);
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}
.option-select{
    border: 2px solid var(--text-color-light);
    border-radius: 0.5em;
    color: var(--text-color-light);
    cursor: pointer;
    margin: 1em;
    padding: 0.5em 1em;
}

.fonte{
    display: flex;
    justify-content: center;
}
.conf-fonte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 h1 {
    color: var(--background-secondary);
}

.dark h1{
    color: var(--primary-color);
}

pre {
    background-color: var(--background-color-dark);
    border-left: 4px solid var(--primary-color);
    padding: 1em;
    white-space: pre-wrap;
}

.dark pre {
    background-color: var(--background-color-dark);
}

/* Estilos para diferentes filtros de daltonismo */
.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.acromatomia {
    filter: grayscale(50%);
}

.filter-image.deuteranopia {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}

.filter-image.protanopia {
    filter: sepia(35%) saturate(100%);
}


.about{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em 4em;
  line-height: 1.5em;
}
.about-left{
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  font-size: 1.2em;

}
.principios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.principio{
    background-color: var(--background-secondary) ;
    color:#fff;
    margin:1em;
    padding: 1em 0em 1em 1em;
    border-radius: 0.5em;
    border: solid 0.3em #40799e;
    clip-path: polygon(0 0,100% 0,100% calc(100% - 25px),calc(100% - 25px) 100%,0 100%);
}

.principio > h3{
    text-transform: uppercase;
    font-size: 1.3em;
}


.p1 >h3 {
    color: var(--highlights);
}

.p1:hover{
    border: solid 0.3em var(--highlights);
    transition: 0.3s;

}

.mais{
    font-size: 1.2em;
    margin: 4em 0em; 
    background-color: var(--background-secondary);  
    padding: 4em; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mais > img{
    width: 40vw;
}
.links{
    display: flex;
    flex-direction: column;
}

.saiba-mais{
    background-color: var(--background-secondary);
    border: solid 0.3em #40799e;
    border-radius: 0.5em;
    color: #fff;
    margin-bottom: 1em;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.saiba-mais-right > h3{
    color: var(--highlights);
}   

.saiba-mais:hover{
    border: solid 0.3em var(--highlights);
    transition: 0.3s;
}

.btn-link{
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
    border: 0em;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-weight: 550;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* exercises */

.exercicios{
    padding: 0em 5em;
    font-size: 1.2em;
}

.exercicios > h1{
    font-size: 2.5em;
    color: var(--highlights);
}

.how-to {
    display: flex;
    justify-content: space-around;
}
.how-to > img {
    width: 20vw;
}

.passo{
    border-left: var(--highlights) solid 0.5em;
    display: flex;
    align-items: center;
    background-color: #64646434;
    margin: 1em 0em;
    
    padding: 1em;
    border-radius: 0.5em;
}
.passo-right{
    display: flex;
    flex-direction: column;
    margin-left: 0.2em;
    padding: 0.5em;
    justify-content: center;
}

.passo-right > strong{
    color: var(--highlights);
    text-transform: uppercase;
}

.examples{
    display: flex;
    justify-content: space-between;
    margin: 30vh 0em;
}

.ex-left{
    width: 45vw;
    display:flex;
    flex-direction: column;
}

.output {
    background-color: var(--background-secondary);
    border: solid 0.3em #40799e;
    border-radius: 0.5em;
    color: #fff;
    margin-bottom: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
}

.output > h1{
    font-size: 1.5em;
    color: var(--text-color-dark);
}

.output > strong{
    color: var(--highlights);
    text-transform: uppercase;
}

.output > h3{
    font-size: 1.5em;
    margin: 0em;
}

.btn-exercise{
    width: 30%;
    font-size: 0.8em;
    font-weight: 600;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--highlights);
    color: #000814;
    cursor: pointer;
}

.input-exercise{
    margin:1em 0em;
    padding: 1em;
    font-size: 1.2em;
}

.project{
    background-color: var(--background-secondary);
    border: solid 0.3em #40799e;
    border-radius: 0.5em;
    color: #fff;
    margin:4em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project:hover{
    border: solid 0.3em var(--highlights);
    transition: 0.3s;
}
