:root {
    --background-color-light: #eeeeee;
    --background-color-dark: #000814;
    --text-color-light: #000814;
    --text-color-dark: #ffffff;
    --primary-color: #FFC300;
}

body.light {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

body.dark {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    margin: 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-color-dark);
    font-size: 1.5em;
}

header > h1 {
    margin-bottom: 0em;
    text-transform: uppercase;
}

header > h3 > strong{
    color: var(--primary-color);
}

.btn{
    background: none;
    border: 2px solid var(--text-color-light);
    border-radius: 0.5em;
    color: var(--text-color-light);
    cursor: pointer;
    margin: 1em;
    padding: 0.5em 1em;
}

.dark .btn{
    border-color: var(--text-color-dark);
    color: var(--text-color-dark);
}

.dark header {
    color: var(--background-color-light);
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}
.option-select{
    border: 2px solid var(--text-color-light);
    border-radius: 0.5em;
    color: var(--text-color-light);
    cursor: pointer;
    margin: 1em;
    padding: 0.5em 1em;
}

.fonte{
    display: flex;
    justify-content: center;
}
.conf-fonte{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main {
    padding: 2em;
}

 h2 {
    color: var(--primary-color);
}

pre {
    background-color: #f4f4f4;
    border-left: 4px solid var(--primary-color);
    padding: 1em;
    white-space: pre-wrap;
}

.dark pre {
    background-color: #333;
}

/* Estilos para diferentes filtros de daltonismo */
.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.acromatomia {
    filter: grayscale(50%);
}

.filter-image.deuteranopia {
    filter: grayscale(75%) sepia(100%) hue-rotate(45deg);
}

.filter-image.protanopia {
    filter: sepia(35%) saturate(100%);
}

